/* 1 rem = 1em = 16px regardless of the fontsize percentage change
1 rem= root font size
1 rem= current font size
rem has bugs in media quaries: USE EM!
*/
/* @media (max-width: 50em) {
  .grid__2__col {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 4rem;
  }
  .hero__statistics {
    flex-direction: column;
    gap: 4.8rem;
  }
  .grid__2__col {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 4rem;
  }
  .features__content__description {
    grid-row: 1/2;
    text-align: center;
  }
  .cta {
    text-align: center;
  }
  .hero__statistics__number {
    font-size: 10rem;
  }
  .icon-big-white {
    width: 47px;
  }
  .footer__contactinfo__container {
    align-items: center;
    grid-row: 1;
  }
  .hero__image__container {
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
  }
  .footer__contactinfo {
    margin-top: 4.8rem;
  }
  html {
    font-size: 50%;
  }
} */
@media (max-width: 38em) {
  .hero__statistics {
    flex-direction: column;
    gap: 9.2rem;
  }

  .grid__2__col {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 4rem;
  }
  .features__content__description {
    text-align: center;
  }
  .features__content__img__container {
    grid-row: 1/2;
  }
  .cta {
    text-align: center;
  }
  .features__section__top__wavyImg {
    background-image: url(../images/bg-section-top-mobile-1.svg);
    max-width: 100vw;
    height: 23rem;
    background-size: cover;
  }
  .features__section__btm__wavyImg {
    background-image: url(../images/bg-section-bottom-mobile-2.svg);
    max-width: 100vw;
    height: 23rem;
  }
  .hero__statistics__number {
    font-size: 10rem;
  }
  .footer__top__wavyImg {
    background-image: url(../images/bg-footer-top-mobile.svg);
    background-size: cover;
    max-width: 100vw;

    /* width: 99%; */
    height: 9rem;
  }
  .footer__top__wavyImg__cont {
    max-width: 100%;

    height: fit-content;
  }
  .icon-big-white {
    width: 47px;
  }
  .footer__contactinfo__container {
    align-items: center;
    grid-row: 1/2;
    /* row-gap: 4.8rem; */
  }
  .email {
    display: block;
    margin-bottom: 2rem;
    /* width: 40%; */
    /* justify-self: stretch; */
    /* align-self: flex-start;  */
  }
  .form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
  }
  .btn__pink--submit {
    align-self: flex-end;
  }
  /* .footer__contactinfo {
    margin-top: 4.8rem;
  } */
  .cta {
    margin-bottom: 25.6rem;
  }
  .footer__section__grid {
    padding-top: 4.8rem;
    row-gap: 4.8rem;
  }

  html {
    font-size: 37%;
  }
  section {
    text-align: center;
  }
}
